/* Floating Hearts Animation */
.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.heart {
    position: absolute;
    bottom: -10vh;
    background-color: rgba(255, 182, 193, 0.6);
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    transform: rotate(-45deg);
    animation: float 6s ease-in infinite;
}

.heart::after,
.heart::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: inherit;
}

.heart::before {
    top: -15px;
    left: 0;
}

.heart::after {
    left: 15px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg) scale(0.8);
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh) rotate(-45deg) scale(1.2);
        opacity: 0;
    }
}

/* Individual animation delays and positions for randomness */
.heart:nth-child(1) {
    left: 10%;
    animation-duration: 8s;
    animation-delay: 0s;
    background-color: rgba(255, 192, 203, 0.4);
}

.heart:nth-child(2) {
    left: 20%;
    animation-duration: 10s;
    animation-delay: 2s;
    background-color: rgba(255, 105, 180, 0.3);
}

.heart:nth-child(3) {
    left: 30%;
    animation-duration: 7s;
    animation-delay: 4s;
    background-color: rgba(255, 20, 147, 0.2);
}

.heart:nth-child(4) {
    left: 40%;
    animation-duration: 11s;
    animation-delay: 0s;
    background-color: rgba(219, 112, 147, 0.3);
}

.heart:nth-child(5) {
    left: 50%;
    animation-duration: 9s;
    animation-delay: 3s;
    background-color: rgba(255, 182, 193, 0.4);
}

.heart:nth-child(6) {
    left: 60%;
    animation-duration: 12s;
    animation-delay: 5s;
    background-color: rgba(255, 192, 203, 0.3);
}

.heart:nth-child(7) {
    left: 70%;
    animation-duration: 8s;
    animation-delay: 1s;
    background-color: rgba(255, 105, 180, 0.2);
}

.heart:nth-child(8) {
    left: 80%;
    animation-duration: 13s;
    animation-delay: 4s;
    background-color: rgba(255, 20, 147, 0.3);
}

.heart:nth-child(9) {
    left: 90%;
    animation-duration: 9s;
    animation-delay: 2s;
    background-color: rgba(219, 112, 147, 0.4);
}

.heart:nth-child(10) {
    left: 25%;
    animation-duration: 10s;
    animation-delay: 6s;
    background-color: rgba(255, 182, 193, 0.3);
}